<div class="content">
    <div>

          <%= image_tag ("laser_toast_guy.png"), :class=>"comic_content",  :style => "height: 850px; width: 700px; border-style: none;" %>
    </div>


<div id="disqus_thread" style="width: 680px; margin-left: 80px;"></div>
<script>






</div>
