   
<div class="content">


    <table>
  <tr>

<% unless @most_recent_comic == @first_comic %>
    <td style="width: 20px;">

        <a class="previous_button" href="/comic/<%=@most_recent_comic.id - 1%>"> previous

        </a>
    </td>
<%end%>

   <td style=" height: 20px; width: 20px;" >
         <a class="random_button" href="/comic/<%=@random_comic_id%>">
           random
         </a>
    </td>

<% unless @most_recent_comic %>

    <td style= "width: 20px;">
        <a class="next_button" href="">
           next 
        </a>
    </td>


   <td style= "width: 100px; width: 100px;">
    <a href="/comic/<%=@current_comic.id + 1%>" class="next_button" style="font-family: Garamond Premier Pro;">next</a>
    </a>
    </td>

  <%end%>
  </tr>
</table>

<div>

     <%= image_tag (@most_recent_comic.image), :class=>"comic_content",  :style => "max-height: 2000px; width: 700px;" %>
</div>



