
<div class="content">
<table>
  <tr>

<% unless @current_comic == @first_comic %>
    <td style="height: 100px; width: 100px;">
      <a class="previous_button" href="/comic/<%=@current_comic.id - 1%>" style="font-family: Garamond Premier Pro;">
       previous
      </a>
    </td>

<%end%>

   <td style=" height: 100px; width: 100px;" >

      <a class="random_button" href="/comic/<%=@random_comic_id%>" style="font-family: Garamond Premier Pro;">random</a>

    </td>

<% unless @current_comic == @most_recent_comic %>

    <td style= "width: 100px; width: 100px;">
    <a href="/comic/<%=@current_comic.id + 1%>" class="next_button" style="font-family: Garamond Premier Pro;">next</a>
    </a>
    </td>
    
  <%end%>

  </tr>
</table>




<div>

  <%= image_tag (@current_comic.image), :class=>"comic_content",  :style => "max-height: 3000px; margin-left: 50px; width: 900px;" %>


</div>

</div>




