<div class="content">
    <p style="margin-left: 100px; font-family: helvetica;"> Laser Toast is a webcomic maintained by a guy named Jordan. He's liked comics his whole life but never gave an honest effort into consistently trying to make any of his own, now that he's about to attend grad school he wanted to set this site up as a creative outlet.</p>







