<div class="content">
    <p style="margin-left: 100px; font-family: helvetica;"> Laser Toast is a webcomic written and illustrated by Jordan. Here's a shitty drawing of him.</p>

    <img style="margin-left: 365px; " src="/assets/my_face.png" height="300" width="200">
</div>