<div class="content">
    <p style="margin-left: 100px; font-family: helvetica;"> Laser Toast is the final death cry of a desperate man spiraling ever closer to the abyss. Here's a shitty drawing of him.</p>

    <%= image_tag ("my_face.png"), :style => "margin-left: 365px; height: 300px; width: 200px;" %>
</div>