<div class="content">
    <p style="margin-left: 100px; font-family: helvetica;"> Laser Toast is a webcomic written and illustrated by Jordan. This is a bad drawing of him.</p>

    <%= image_tag ("my_face.png"), :style => "margin-left: 365px; height: 300px; width: 200px;" %>





<div id="disqus_thread" style="width: 680px; margin-left: 80px;"></div>
<script>





</div>