// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-image: image-url("space_background.png");
    background-size: 600px;
    position: relative;
};



.nav_heads{
    position: absolute;
    margin-left: 200px;
    z-index: -1;
  
};

.laser_toast{
    position: absolute;
    height: 300px;
    float: right;
    margin-top: 140px;
    margin-left: 340px;
}

.comic_link
{
    margin-left: 395px;
    margin-top: 70px
}

.words_link
{
    margin-left: 100px;
    margin-top: 70px;
}

.about_link
{
    margin-left: 130px;
    margin-top: 70px;
}

a img:hover
{ 
position: relative; 
bottom: -5px;
} 


.content {
    min-height: 200px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 300px;
    border-radius: 10px;
    background: #FFF;
    overflow: hidden;
}

.content .post-nav {
    height: 40px;
    width: 375px;
    margin: 18px auto;
    padding: 8px 0 0;
    list-style-type: none;
}




.content table
{
    margin-left: 350px;
    position: relative;
    z-index: 2;
}


table a 
{ 
    cursor: pointer;
}


.comic_content
{
    margin-left: 130px;
}




