<!DOCTYPE html>
<html>
<head>
  <title>Lastertoast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <div class="nav_heads">
    <p>
        <img src="/assets/nav_headz.png" alt="Smiley face" height="510" width="630">
    </p>
</div>

<div class="laser_toast">
    <p>
        <img src="/assets/lasertoasttitle.png" height="460" width="640">
    </p>
</div>


<table> 
<tr>
    <td>
        <a href="/">
        <img class="comic_link" src="/assets/comic_bubble.png" style="border-style: none;"
        height="75" width="80"></a>
    </td>
    <td>
        <a href="/words">
        <img class="words_link" src="/assets/words2.png" style="border-style: none;"
        height="75" width="80"></a>
    </td>
    <td>
        <a href="/about">
            <img class="about_link" src="/assets/about.png" style="border-style: none;"
            height="75" width="80">
        </a>
    </td>
</tr>
</table>






<%= yield %>

</body>
</html>
